<header class="header big-header" id="home">
	<div class="container">
		<div class="pre-header">
			<p>Beta</p>
			<a class="btn" href="mailto:dearmuesli@gmail.com?Subject=Hello" target="_top"> CONTACTEZ-NOUS </a>

			<a href="<%= root_path %>"><%= image_tag "logo.png", :size => "210x210", :class => "logo" %></a>
		</div>
		<section>
			<h1>Votre petit déjeuner réinventé</h1>
			<h2>MIXEZ VOTRE MUESLI PRÉFÉRÉ OU CHOISISSEZ UNE DE NOS DELICIEUSES RECETTES.</h2>


			  <div class="form-group input-appesnd">
			   	<%= link_to 'Commandez notre muesli dès maintenant !', orders_path, class: 'btn btn-danger' %>

			  	<% flash.each do |key, value| %>
				  <div class="alert alert-<%= key %>">
				  	<%= value %>
				  </div>

			  </div>
			<% end %>
		</section>
	</div>

</header>


<section id="howitworks">
	<%= image_tag "ble.png", :size => '90x90', :class => "ble" %>
	<h3> <strong> COMMENT ÇA MARCHE ?</strong></h3>

	<div class="row">
	  <div class="picture">
	  	<%= image_tag "salive.jpg", :size => "300x300" %>
	  	<p>JE SALIVE</p>
	  </div>
	  <div class="picture">
	  	<%= image_tag "succombe.jpg", :size => "300x300" %>
	  	<p>JE SUCCOMBE</p>
	  </div>
	  <div class="picture">
	  	<%= image_tag "savoure.jpg", :size => "300x300" %>
	  	<p>JE SAVOURE</p>
	  </div>
	</div>
</section>

<section id="order">
	<div class="pre-order">
		<h1><a href="<%= welcome_mix_path %>"><strong>FAITES VOTRE</br>PROPRE MIX</strong></a></h1>
	</div>
</section>

<section id="dearnumbers">
	<%= image_tag "chiffres.png",  :class => "chiffres", :id => 'numbers' %>
</section>

<footer class="footer">
	<div class="pre-footer">
		<div class="container">
			<div class="joinus">
				<p>REJOIGNEZ-NOUS SUR :</p>
				<%= link_to(image_tag("instagram.png", :alt => "logo", :title => "instagram", :size => '75x75', :class => "instagram"), "http://instagram.com/dearmuesli", :target => '_blank') %>

				<%= link_to(image_tag("facebook.png", :alt => "logo", :title => "facebook", :size => '75x75', :class => "facebook"), "https://www.facebook.com/dearmuesli", :target => '_blank') %>

				<%= link_to(image_tag("twitter.png", :alt => "logo", :title => "twitter", :size => '75x75', :class => "twitter"), "https://twitter.com/dearmuesli", :target => '_blank') %>

			</div>
		</div>
	</div>

	<%= image_tag "ble.png", :size => '90x90', :class => "ble" %>

	<nav class="navbar  navbar-bottom">
		<p> <a href="#home"> <strong>Home</strong> </a>  . <a href="#howitworks"> <strong>Comment ça marche</strong>  </a>  . <a href="#numbers"> <strong> Dear Muesli en 3 chiffres</strong> </a> </p>
	  <small>
	  Copyright &copy; Dear Muesli 2014. All Rights Reserved <br>
	  </small>
	</nav>

</footer>
